.cart-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(231, 224, 218);
    width: 100%;
    height: 4rem;
    padding: 1rem; 
    cursor: pointer;
    color: rgb(3, 23, 72);
}

.cart-icon:hover{
    color: rgb(0, 4, 255)
}